/* App.css */

/* Add general styles here */

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #E7F8FF;
}

.logo {
  width: 350px; /* Sesuaikan ukuran logo */
  height: auto;
  margin-bottom: 10px; /* Tambahkan margin di bawah logo */
}

.video-stream {
  width: 90%;
  max-width: 800px; /* Sesuaikan lebar maksimum */
  height: auto; /* Menjaga aspek rasio */
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-text {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  border: 2px solid blue; /* Blue border */
  border-radius: 8px; /* Making the corners rounded */
  padding: 10px; /* Adding padding */
  min-width: 800px; /* Setting max-width */
  text-align: center; /* Centering the text */
}
