.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #E7F8FF;
}

.logo {
  width: 350px; /* Sesuaikan ukuran logo */
  margin-bottom: 10px; /* Tambahkan margin di bawah logo */
}

.video-stream {
  width: 90%;
  max-width: 800px; /* Sesuaikan lebar maksimum */
  height: auto; /* Menjaga aspek rasio */
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.display-text {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
